<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Yoneda</title>
</head>
<body>
  <h2>Yoneda Kouhei</h2>
  <p>ソフトウェアエンジニア</p>
  <p>大学院では自然言語処理を研究</p>
  <p>ものづくり好き</p>
  <h4>書いたもの</h4>
  <h4>あたまの中</h4>
  <% for(var article of scrapbox) { %>
  <p><%= article[0] %></p>
  <% } %>
  <h4>つくったもの</h4>
  <p>　テキスト書き手の性別を推定する [2018/2]</p>
  <p>　乃木坂46の名前を覚える [2017/5]</p>
  <p>　パンダの2Dゲーム [2016/10]</p>
</body>
</html>
