body{
	background-color:#ffffff;
	font-family: sans-serif;
}
a:link, a:visited{
	color: #ff0000;
}
.contents{
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

a.social-icon{
  display: inline-block;
  border-radius: 5px;
}

.social-icon:first-of-type{
	margin-left:15px;
}

a.social-icon:hover{
  background-color:#F5F5F5;
}
